.upload{
    /* border: solid rgb(184, 182, 182) 2px; */
    padding:10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#738efc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(90, 90, 90);
}

.upload_items{
    margin: 10px;
}

.upload_file_button{
    font-size: 13px;
    
    color: white;
}

